In [4]:
import pandas as pd
import numpy as np

In [5]:
location = "DC_Properties.csv"
df = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [7]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [8]:
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [9]:
df2=df[['BEDRM','PRICE','WARD']]
df2.head()

   BEDRM      PRICE    WARD
0      4  1095000.0  Ward 2
1      5        NaN  Ward 2
2      5  2100000.0  Ward 2
3      5  1602000.0  Ward 2
4      3        NaN  Ward 2

In [10]:
df2.groupby(df2['WARD']).mean()

           BEDRM         PRICE
WARD
Ward 1  2.536866  5.738363e+05
Ward 2  1.879506  1.098570e+06
Ward 3  2.885132  3.077716e+06
Ward 4  3.314071  4.899224e+05
Ward 5  3.073693  3.952432e+05
Ward 6  2.558754  5.268684e+05
Ward 7  2.800651  2.339222e+05
Ward 8  2.870072  2.715224e+05

In [11]:
df2_no_missing = df2.dropna()
df2.isnull().sum()

#_no_missing is the new name and must be referred to as such.

BEDRM        0
PRICE    60741
WARD         1
dtype: int64

In [12]:
df2_no_missing.describe()

              BEDRM         PRICE
count  98216.000000  9.821600e+04
mean       2.606480  9.313516e+05
std        1.393801  7.061325e+06
min        0.000000  1.000000e+00
25%        2.000000  2.400000e+05
50%        3.000000  3.999990e+05
75%        3.000000  6.520000e+05
max       20.000000  1.374275e+08

In [13]:
df2_no_missing.isnull().sum()

BEDRM    0
PRICE    0
WARD     0
dtype: int64

In [14]:
df2_no_missing.count()

BEDRM    98216
PRICE    98216
WARD     98216
dtype: int64

In [15]:
df2_no_missing.describe()

              BEDRM         PRICE
count  98216.000000  9.821600e+04
mean       2.606480  9.313516e+05
std        1.393801  7.061325e+06
min        0.000000  1.000000e+00
25%        2.000000  2.400000e+05
50%        3.000000  3.999990e+05
75%        3.000000  6.520000e+05
max       20.000000  1.374275e+08

In [17]:
df2_no_missing.groupby(['BEDRM','WARD']).mean()

                     PRICE
BEDRM WARD
0     Ward 1  4.374085e+05
      Ward 2  1.063929e+06
      Ward 3  8.533485e+06
      Ward 4  2.534351e+05
      Ward 5  2.259893e+05
      Ward 6  2.346078e+05
      Ward 7  3.995500e+05
      Ward 8  2.426689e+06
1     Ward 1  5.299856e+05
      Ward 2  1.012982e+06
      Ward 3  7.120841e+06
      Ward 4  3.366974e+05
      Ward 5  2.355410e+05
      Ward 6  3.477035e+05
      Ward 7  1.865158e+05
      Ward 8  5.731426e+05
2     Ward 1  5.647922e+05
      Ward 2  9.294823e+05
      Ward 3  1.926562e+06
      Ward 4  3.646553e+05
      Ward 5  3.335439e+05
      Ward 6  5.019941e+05
      Ward 7  1.984242e+05
      Ward 8  2.195843e+05
3     Ward 1  5.385860e+05
      Ward 2  1.266270e+06
      Ward 3  7.411769e+05
      Ward 4  4.206029e+05
      Ward 5  3.864872e+05
      Ward 6  5.808165e+05
...                    ...
9     Ward 2  6.007558e+06
      Ward 3  4.422222e+06
      Ward 4  7.910357e+05
      Ward 5  3.350000e+05
      Ward 6  6.532786e+05
      Ward 7  3.400000e+05
      Ward 8  2.537000e+05
10    Ward 1  9.180000e+05
      Ward 2  8.430000e+05
      Ward 3  1.297000e+06
      Ward 5  3.499995e+05
      Ward 6  9.212500e+05
      Ward 7  3.535005e+05
      Ward 8  2.389107e+05
11    Ward 2  2.800000e+05
      Ward 4  7.000000e+05
      Ward 5  2.200000e+06
      Ward 6  1.850000e+06
      Ward 8  3.489200e+05
12    Ward 1  7.480000e+05
      Ward 2  2.396029e+07
      Ward 4  2.915000e+05
      Ward 5  5.608333e+05
      Ward 6  2.000000e+05
      Ward 7  4.150000e+05
      Ward 8  3.064377e+05
13    Ward 8  4.425000e+05
14    Ward 1  9.250000e+05
15    Ward 1  1.105000e+06
20    Ward 1  1.900000e+06

[103 rows x 1 columns]

In [27]:
pd.pivot_table(df2_no_missing, values=['PRICE'], index=['BEDRM','WARD'])

                     PRICE
BEDRM WARD
0     Ward 1  4.374085e+05
      Ward 2  1.063929e+06
      Ward 3  8.533485e+06
      Ward 4  2.534351e+05
      Ward 5  2.259893e+05
      Ward 6  2.346078e+05
      Ward 7  3.995500e+05
      Ward 8  2.426689e+06
1     Ward 1  5.299856e+05
      Ward 2  1.012982e+06
      Ward 3  7.120841e+06
      Ward 4  3.366974e+05
      Ward 5  2.355410e+05
      Ward 6  3.477035e+05
      Ward 7  1.865158e+05
      Ward 8  5.731426e+05
2     Ward 1  5.647922e+05
      Ward 2  9.294823e+05
      Ward 3  1.926562e+06
      Ward 4  3.646553e+05
      Ward 5  3.335439e+05
      Ward 6  5.019941e+05
      Ward 7  1.984242e+05
      Ward 8  2.195843e+05
3     Ward 1  5.385860e+05
      Ward 2  1.266270e+06
      Ward 3  7.411769e+05
      Ward 4  4.206029e+05
      Ward 5  3.864872e+05
      Ward 6  5.808165e+05
...                    ...
9     Ward 2  6.007558e+06
      Ward 3  4.422222e+06
      Ward 4  7.910357e+05
      Ward 5  3.350000e+05
      Ward 6  6.532786e+05
      Ward 7  3.400000e+05
      Ward 8  2.537000e+05
10    Ward 1  9.180000e+05
      Ward 2  8.430000e+05
      Ward 3  1.297000e+06
      Ward 5  3.499995e+05
      Ward 6  9.212500e+05
      Ward 7  3.535005e+05
      Ward 8  2.389107e+05
11    Ward 2  2.800000e+05
      Ward 4  7.000000e+05
      Ward 5  2.200000e+06
      Ward 6  1.850000e+06
      Ward 8  3.489200e+05
12    Ward 1  7.480000e+05
      Ward 2  2.396029e+07
      Ward 4  2.915000e+05
      Ward 5  5.608333e+05
      Ward 6  2.000000e+05
      Ward 7  4.150000e+05
      Ward 8  3.064377e+05
13    Ward 8  4.425000e+05
14    Ward 1  9.250000e+05
15    Ward 1  1.105000e+06
20    Ward 1  1.900000e+06

[103 rows x 1 columns]